*{
    padding: 0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

body{
    background-color: #fff;
    background-size: cover;
}

.productregistrationform{
    top: 50%;
    left: 50%;
    width: 400px;
    margin: auto;
}

.productregistrationform h1{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.productregistrationform p{
    font-size: 17px;
    margin: 15px 0;
}

.productregistrationform input{
    font-size: 16px;
    padding: 15px 10px;
    width: 100%;
}

.productregistrationform .category input{
    transform: translate(-48.5%, -48.5%);
}

.productregistrationform .category span{
    display: flex;
    justify-content: flex-start;
    transform: translate(5.25%, -140.0%);
}

.productregistrationform a{
    font-size: 12.5px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
    padding: 10px 15px;
    width: 25%;
    border: 0;
    border-radius: 5px;
    background-color: #bebebe;
    cursor: pointer;
}

.button:hover{
    background: #333;
    color: #fff;
}

